@*@using Haberci.DAL
@model List<Haberler>*@

@using WebApplication1.Models
@model  AnasayfaModeller
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/shared/_LayoutPageHome.cshtml";
    //List<Kategori> list=Session["Kategoriler"] as List<Kategori>;
}

<body>

    <!-- ##### Hero Area End ##### -->
    <!-- ##### Mag Posts Area Start ##### -->
    <section class="mag-posts-area d-flex flex-wrap">

        <!-- >>>>>>>>>>>>>>>>>>>>
         Post Left Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->
        <div class="post-sidebar-area left-sidebar mt-30 mb-30 bg-white box-shadow">
            <!-- Sidebar Widget -->
            @Html.Partial("~/Views/koseyazıilaripartialView.cshtml")         

            </div>
      

        <!-- >>>>>>>>>>>>>>>>>>>>
             Main Posts Area
        <<<<<<<<<<<<<<<<<<<<< -->
        <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
            <!-- Trending Now Posts Area -->
            <div class="trending-now-posts mb-30">
                <!-- Section Title -->
                <div class="section-heading" style="color:blue; text-align:center">
                    <b>SON DAKİKA HABERLERİ</b>
                </div>

                <div class="trending-post-slides owl-carousel ">
                    <!-- Single Trending Post -->
                    @foreach (var item in Model.Haberler)
                    {

                    <div class="single-trending-post">
                   
                        <img src="@item.ResimURL" style="height:200px" alt="" />


                        <div class="post-content">


                            <a href="/Home/HaberDetails/@item.HaberId" class="post-cata">Detaylar için Tıklayınız </a>
                            <a href="#">
                                <i class="fa fa-eye" aria-hidden="true" style="color:aqua"></i> <b style="color:aqua">okunma sayisi:
                                </b> <b style="color:aqua">@item.OkunmaSayisi</b>
                            </a>          


                        </div>
                      
                    </div>

                    }

                </div>
            </div>
            
                <!-- Feature Video Posts Area -->
            <div class="feature-video-posts mb-30" style="padding-top:100px;">
                <!-- Section Title -->
                <div class="most-viewed-videos mb-30">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>Most Viewed Videos</h5>
                    </div>

                    <div class="most-viewed-videos-slide owl-carousel">

                        <!-- Single Blog Post -->
                        <div class="single-blog-post style-4">
                            <div class="post-thumbnail">
                                <img src="~/Content/img/bg-img/28.jpg" alt="">
                                <a href="video-post.html" class="video-play"><i class="fa fa-play"></i></a>
                                <span class="video-duration">09:27</span>
                            </div>
                            <div class="post-content">
                                <a href="single-post.html" class="post-title">A Guide To Rocky Mountain Vacations</a>
                                <div class="post-meta d-flex">
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post style-4">
                            <div class="post-thumbnail">
                                <img src="~/Content/img/bg-img/29.jpg" alt="">
                                <a href="video-post.html" class="video-play"><i class="fa fa-play"></i></a>
                                <span class="video-duration">09:27</span>
                            </div>
                            <div class="post-content">
                                <a href="single-post.html" class="post-title">Dentists Are Smiling Over Painless Veneer Alternative</a>
                                <div class="post-meta d-flex">
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                  
                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post style-4">
                            <div class="post-thumbnail">
                                <img src="~/Content/img/bg-img/30.jpg" alt="">
                                <a href="video-post.html" class="video-play"><i class="fa fa-play"></i></a>
                                <span class="video-duration">09:27</span>
                            </div>
                            <div class="post-content">
                                <a href="single-post.html" class="post-title">Become A Travel Pro In One Easy Lesson</a>
                                <div class="post-meta d-flex">
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post style-4">
                            <div class="post-thumbnail">
                                <img src="~/Content/img/bg-img/28.jpg" alt="">
                                <a href="video-post.html" class="video-play"><i class="fa fa-play"></i></a>
                                <span class="video-duration">09:27</span>
                            </div>
                            <div class="post-content">
                                <a href="single-post.html" class="post-title">A Guide To Rocky Mountain Vacations</a>
                                <div class="post-meta d-flex">
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post style-4">
                            <div class="post-thumbnail">
                                <img src="~/Content/img/bg-img/29.jpg" alt="">
                                <a href="video-post.html" class="video-play"><i class="fa fa-play"></i></a>
                                <span class="video-duration">09:27</span>
                            </div>
                            <div class="post-content">
                                <a href="single-post.html" class="post-title">Dentists Are Smiling Over Painless Veneer Alternative</a>
                                <div class="post-meta d-flex">
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post style-4">
                            <div class="post-thumbnail">
                                <img src="~/Content/img/bg-img/30.jpg" alt="">
                                <a href="video-post.html" class="video-play"><i class="fa fa-play"></i></a>
                                <span class="video-duration">09:27</span>
                            </div>
                            <div class="post-content">
                                <a href="single-post.html" class="post-title">Become A Travel Pro In One Easy Lesson</a>
                                <div class="post-meta d-flex">
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

                <!-- Most Viewed Videos -->
                

                <!-- Sports Videos -->
               
            </div>
        
            <!-- >>>>>>>>>>>>>>>>>>>>
             Post Right Sidebar Area
            <<<<<<<<<<<<<<<<<<<<< --><br />

        <br />
        <br />

            <div class="post-sidebar-area right-sidebar mt-30 mb-30 box-shadow">
                <!-- Sidebar Widget -->
               

                <!-- Sidebar Widget -->
                

                <!-- Sidebar Widget -->
               

                <!-- Sidebar Widget -->
                <div class="single-sidebar-widget p-30">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>RSS'ten Gelenler :)</h5>
                    </div>

                    @foreach (var item in Model.RssHaber.Take(5))
                    {   <!-- Single YouTube Channel -->
                    <div class="single-youtube-channel d-flex">                 


                        <div class="youtube-channel-thumbnail">
                            <img src="@item.ImageUrl" alt="">
                        </div>
                        <div class="youtube-channel-content">
                            <a href="single-post.html" class="channel-title">@item.Title</a>
                          
                           

                        </div>

                    </div>
                    }

                </div>

               
            
            </div>
        </section>
    </body>