@using HaberinOlsun.BLL
@using HaberinOlsun.ENTITY
@using HaberinOlsun.PublicUI.Models
@model YorumModel

@{
    List<Yorum> yorumlar = new List<Yorum>();
    HaberBLL haberBLL = new HaberBLL();
    KoseYazisiBLL koseYazisiBLL = new KoseYazisiBLL();
    Haber haber = null;
    KoseYazilari koseYazilari = null;
    if (Model.Tip == "Haber")
    {
        haber = haberBLL.GetHaber(Model.Id);

        foreach (Yorum item in haber.Yorum)
        {
            yorumlar.Add(item);
        }

    }
    else
    {
        koseYazilari = koseYazisiBLL.GetKoseYazilari(Model.Id);
        foreach (Yorum item in koseYazilari.Yorum)
        {
            yorumlar.Add(item);
        }
    }
}


@if (Model.Tip == "Haber")
{
<section>
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <h5 class="p-title">@haber.Yorum.Count() Comments</h5>
                @if (@haber.Yorum.Count()==0)
                {
                    <p class="p-15">Bu haber için yorum yapılmamış.</p>
                }
                @foreach (Yorum item in yorumlar)
                {
                    <div class="col-sm-12">
                        <div class="comment-content d-flex">
                            <div class="comment-meta">
                                <a href="#" class="a-title"><b>@item.Gönderen</b></a><br />
                                <a href="#" class="post-date"><small>@item.Tarih</small></a>
                                <p class="p-15">@item.Aciklama</p>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div><!-- row -->

        <div class="row">
            <div class="col-sm-12 col-md-8">
                <h3><b>Yorum Yapın</b></h3>
                <hr />

                @using (Html.BeginForm("HaberYorum", "Yorum", new { id = Model.Id }, FormMethod.Post))
                {
                    <div class="col-sm-12">
                        <div class="pos-relative">
                            @Html.TextBoxFor(x => x.Yorum.Gönderen, new { @class = "form-control", placeholder = "Adınız" })<br />
                            <i class="abs-tbr lh-35 font-13 color-green ion-android-done"></i>
                        </div><!-- pos-relative -->
                    </div><!-- col-sm-6 -->

                    <div class="col-sm-12">
                        <div class="pos-relative pr-80">
                            @Html.TextAreaFor(x => x.Yorum.Aciklama, new { @class = "form-control", placeholder = "Yorumunuz" })<br />
                            <input class=" plr-15 btn-fill-primary lh-40" type="submit" />
                        </div><!-- pos-relative -->
                    </div><!-- col-sm-6 -->
                }
            </div><!-- col-md-6 -->
        </div><!-- row -->
</section>
}
else
{
<section>
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <h5 class="p-title">@koseYazilari.Yorum.Count() Comments</h5>
            @if (koseYazilari.Yorum.Count() == 0)
            {
                <p class="p-15">Bu yazı için yorum yapılmamış.</p>
            }
            @foreach (Yorum item in yorumlar)
            {
                <div class="col-sm-12">
                    <div class="comment-content d-flex">
                        <div class="comment-meta">
                            <a href="#" class="a-title"><b>@item.Gönderen</b></a><br />
                            <a href="#" class="post-date"><small>@item.Tarih</small></a>
                            <p class="p-15">@item.Aciklama</p>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div><!-- row -->

    <div class="row">
        <div class="col-sm-12 col-md-8">
            <h3 class="p-title"><b>Yorum Yapın</b></h3>
            <hr />
            @using (Html.BeginForm("YaziYorum", "Yorum", new { id = Model.Id }, FormMethod.Post))
            {
                <div class="col-sm-12">
                    <div class="pos-relative">
                        @Html.TextBoxFor(x => x.Yorum.Gönderen, new { @class = "form-control", placeholder = "Adınız" })<br />
                        <i class="abs-tbr lh-35 font-13 color-green ion-android-done"></i>
                    </div><!-- pos-relative -->
                </div><!-- col-sm-6 -->

                <div class="col-sm-12">
                    <div class="pos-relative pr-80">
                        @Html.TextAreaFor(x => x.Yorum.Aciklama, new { @class = "form-control", placeholder = "Yorumunuz" })<br />
                        <input class=" plr-15 btn-fill-primary lh-40" type="submit" />
                    </div><!-- pos-relative -->
                </div><!-- col-sm-6 -->
            }
        </div><!-- col-md-6 -->
    </div><!-- row -->
</section>
}


