@using HaberinOlsun.PublicUI.Models

@model HaberinOlsun.ENTITY.Haber

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <h4 class="p-title"><b>Haberin Detayı</b></h4>
    <div class="row">
        <div class="col-md-12">
            <h3 class="mt-30"><b>@Html.DisplayFor(model => model.Baslik)</b></h3>
            <img src="@Html.DisplayFor(model => model.ResimURL)" alt="" height="200">
            <ul class="list-li-mr-20 mtb-15">
                <li>by <a href="#"><b>@Html.DisplayFor(model => model.Kaynak) </b></a> @Html.DisplayFor(model => model.Tarih)</li>
            </ul>
            <div class="quote-primary mtb-20">
                <h5>"@Html.DisplayFor(model => model.Detay)"</h5>
                <h5 class="mt-15"><b>@Html.DisplayFor(model => model.Kaynak)</b></h5>
            </div><!-- quote-primary -->

            <div class="brdr-ash-1 opacty-5"></div>
        </div><!-- col-md-9 -->

        <div class="d-none d-md-block d-lg-none col-md-3"></div>
    </div>

</section>


@Html.Partial("~/Views/Yorum/YorumPartialView.cshtml", new YorumModel { Id = Model.HaberId, Tip = "Haber" })
