@using HaberinOlsun.Entity
@model List<Haberler>

@{
    ViewBag.Title = "KategorininHaberleriDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/PartialView/BannerPartialView.cshtml")
<section class="mag-posts-area d-flex flex-wrap">
    @Html.Partial("~/Views/PartialView/SonDakikaPartialView.cshtml")

    <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
        <ul>
            @foreach (Haberler item in Model)
            {
                <li style="border:solid;color:antiquewhite">
                    <a href="/Home/KategorininHaberleriDetay/@item.HaberId" title="@item.Baslik">
                        <img src="@item.ResimURL"/>
                        <h4>@item.Ozet</h4>
                        <span class="nav1">@item.Detay</span>
                    </a>
                </li>
            }
        </ul>
    </div>
    @Html.Partial("~/Views/PartialView/KoseYazilariPartialView.cshtml")
</section>

