@using HaberinOlsun.Entity
@model List<KoseYazilari>

@{
    ViewBag.Title = "KoseYazariDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.Partial("~/Views/PartialView/BannerPartialView.cshtml")
<section class="mag-posts-area d-flex flex-wrap">
    @Html.Partial("~/Views/PartialView/KoseYazilariPartialView.cshtml")

    <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
        @foreach (KoseYazilari item in Model)
        {

            <div>
                <div>
                    <h1>@item.Ozet</h1>
                    <h4>@item.Yazarlar.AdiSoyadi</h4>

                    <div>
                        <img src=@item.Yazarlar.ResimURL>
                    </div>
                </div>
                <div>
                    <div>
                        <p>@item.Detay</p>

                    </div>
                    <hr />
                </div>
            </div>

        }
      
    </div>
    @Html.Partial("~/Views/PartialView/SonDakikaPartialView.cshtml")
</section>