@model List<HaberinOlsun.Entities.Haberler>

@{
    ViewBag.Title = "GetCategoryPosts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 col-xl-8">
    <div class="archive-posts-area bg-white p-30 mb-30 box-shadow">
        @foreach (var item in Model)
        {
            <div class="single-catagory-post d-flex flex-wrap">
                <!-- Thumbnail -->
                <div class="post-thumbnail bg-img" style="background-image: url(img/bg-img/42.jpg);">
                    <a href="video-post.html" class="video-play"><i class="fa fa-play"></i></a>
                </div>

                <!-- Post Contetnt -->
                <div class="post-content">
                    <div class="post-meta">
                        <a href="#">@item.Tarih</a>
                        <a href="/Category/GetCategoryPosts/@item.HaberKategori.KategoriID">@item.HaberKategori.Kategori.Adi</a>
                    </div>
                    <a href="video-post.html" class="post-title">@item.Baslik</a>
                    <!-- Post Meta -->
                    <div class="post-meta-2">
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>@item.OkunmaSayisi</a>>
                    </div>
                    <p>@item.Ozet</p>
                </div>
            </div>
        }
    </div>
</div>